@media (max-width: 768px) {
	.user-panel {
		position: absolute;
		width: 90%;
		height: fit-content;
		top: 0;
		left: 5.8%;
		display: flex;
		align-items: center;
		gap: 25px;
		padding: 20px 16px;

		.user-name {
			font-size: 16px;
			color: white;
		}
	}
}

