@media (max-width: 768px) {
	.filterCard {
		position: relative;
		top: 12vh;
		left: 5%;
		width: 90%;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		border-radius: 12px;

		.filterIcon {
			width: 8.5vw;
		}
		

		.filterInfo {
			display: flex;
			flex-direction: column;
			gap: 0px;

			.searchWord {
				font-size: 13px;
				color: #ddd;
				font-weight: bold;
			}
			
			.searchUser {
				font-size: 13px;
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}



